<div class='profile__element'>
    <div class='profile-element-title'>{{title}}</div>
    <input
        name='{{name}}'
        class='profile-element-input'
        type='{{type}}'
        value='{{value}}'
        placeholder='{{placeholder}}'
        {{#if disabled}}disabled{{/if}}
    />
</div>
